.admin {
    background-color: var(--bg-color);
}

.main-content {
    padding: 2rem;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .main-content {
        padding: 1.5rem;
    }
}

.sidebar {
    background-color: var(--color-dark-blue);
    color: var(t--white-color);
    width: 250px;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar h2 {
    font-size: 1.4rem;
    color: var(--white-color);
    margin-bottom: 2rem;
}

.sidebar nav a {
    display: block;
    padding: 0.75rem .5rem;
    color: var(--white-color);
    background-color: transparent;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar nav a:hover {
    /* color: var(--primary-color); */
    background-color: rgba(56, 189, 248, 0.1);
}

.logout-btn {
    margin-top: auto;
    background-color: var(--primary-color);
    border: none;
    padding: 0.75rem;
    border-radius: 6px;
    color: var(--white-color);
    cursor: pointer;
}

.main {
    margin-left: 250px;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: var(--color-dark-blue);
    margin: 4px;
}

.profile {
    position: relative;
    cursor: pointer;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    /* top: 50px; */
    right: 0;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 150px;
}

.dropdown a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: var(--color-dark-blue);
}

.dropdown a:hover {
    background-color: var(--bg-color);
}

.profile:hover .dropdown {
    display: block;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .main {
        margin-left: 0;
        width: 100%;
    }

    .hamburger {
        display: flex;
    }
}

/* form style start */
.form-container {
    background-color: var(--white-color);
    padding: var(--space-lg);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    max-width: 800px;
    width: 100%;
    margin-top: var(--space-lg);
}

.admin-form h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: var(--space-md);
    color: var(--text-color);
    /* font-family: var(--font-heading); */
}

.form-group {
    margin-bottom: var(--space-md);
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-family: var(--font-heading);
    color: var(--text-color);
}

.form-control {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
    background-color: var(--white-color);
    font-family: var(--font-body);
    color: var(--text-color);
    transition: border 0.2s ease;
}

.form-control:focus {
    outline: none;
    border-color: var(--color-light-blue);
    box-shadow: 0 0 0 3px rgba(75, 190, 255, 0.2);
}

textarea.form-control {
    resize: vertical;
    min-height: 120px;
}

/* Submit button style */
.button-group {
    display: flex;
    justify-content: center;
    margin-top: var(--space-md);
}

.btn-submit {
    background-color: var(--color-light-blue);
    font-family: var(--font-body) !important;
    color: var(--white-color);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: var(--radius-sm);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: #001BB7;
    color: var(--white-color);
    box-shadow: 0 0 0 4px rgba(0, 27, 183, 0.2);
}

@media screen and (max-width: 768px) {
    .form-container {
        min-width: 580px;
        padding: var(--space-md);
    }

    .form-group {
        margin-bottom: var(--space-sm);
    }

    .btn-submit {
        width: 100%;
        padding: 0.75rem;
    }

}

@media screen and (max-width: 600px) {
    .form-container {
        min-width: 480px;
        padding: var(--space-md);
    }

    .form-group {
        margin-bottom: var(--space-sm);
    }

    .btn-submit {
        width: 100%;
        padding: 0.75rem;
    }

}

@media screen and (max-width: 480px) {
    .form-container {
        min-width: 360px;
        padding: var(--space-sm);
    }

    .form-group {
        margin-bottom: var(--space-xs);
    }

    .btn-submit {
        width: 100%;
        padding: 0.75rem;
    }

}

@media screen and (max-width: 360px) {
    .form-container {
        min-width: 300px;
        padding: var(--space-sm);
    }

    .form-group {
        margin-bottom: var(--space-xs);
    }

    .btn-submit {
        width: 100%;
        padding: 0.75rem;
    }

}


/* Image Frame grid style */

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-top: 1rem;
}

.image-wrapper {
    border-radius: var(--radius-sm);
    overflow: hidden;
    position: relative;
    width: calc(50% - 0.375rem);
}

.image-grid .image-wrapper.last-full {
    width: 100%;
}

.image-wrapper img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
}

.remove-image {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: background-color 0.2s ease;
}

.remove-image:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

/* Priflie image upload */
.image-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-image-preview {
    width: 120px;
    height: 120px;
    border-radius: 100rem;
    overflow: hidden;
    margin-bottom: 1rem;
    box-shadow: var(--shadow-sm);
    border: 2px solid var(--color-border);
}

.profile-image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* form style end */


/* Table */
.table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 2rem;
    background-color: var(--white-color);
    padding: var(--space-md);
    border-radius: var(--radius-sm);
}

.table-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: var(--space-md);
    text-align: center;

}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}



th {
    background: #2c3e50;
    color: #fff;
    font-weight: 600;
}

tr:hover {
    background: #f8f9fa;
}

.action-btns button {
    margin: 0 5px;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.btn-edit {
    background: var(--color-dark-blue);
    color: #fff;
}

.btn-view {
    background: var(--color-light-blue);
    color: #fff;
}

.btn-delete {
    background: var(--primary-color);
    color: #fff;
}

/* DataTables */

#publication-table_length {
    margin: 1rem 0;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 14px 10px !important;
}

/* data table bottom border none */
table.dataTable {
    border-bottom: none !important;
}

.dataTables_filter input {
    border-radius: 4px;
    padding: 12px 12px;
    min-height: 36px;
    width: 100%;
    box-sizing: border-box;
}

.dataTables_filter input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 1rem;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 1rem;
}


/* Modal background */
/* Modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* full screen */
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    /* overflow-y: auto; */
    /* allow page scroll when modal is big */
    padding: 40px 0;
    /* some space top-bottom */
}

/* Show modal */
.modal.show {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* keep modal start at top instead of exact center */
    opacity: 1;
}

/* Modal box */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 95%;
    position: relative;
    transform: translateY(-30px);
    transition: transform 0.3s ease;
    max-height: 90vh;
    /* keep within viewport */
    overflow-y: auto;
    scrollbar-width: thin;
    /* scroll inside modal if content too long */
    animation: fadeIn 0.3s ease;

}

@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animate slide down */
.modal.show .modal-content {
    transform: translateY(0);
}

/* Close button */
.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}